 # Устанавливаем поведение по умолчанию для всех текстовых файлов
 * text=auto
 
 # Явно указываем окончания строк (LF) для самых важных типов файлов
 *.ts eol=lf
 *.json eol=lf
 *.md eol=lf
 .gitignore eol=lf
 
 # Для бинарных файлов отключаем обработку
 *.png binary
 *.ico binary